<!DOCTYPE html>
<html>
  <head>
    <title>SecretAgent 0.1 | A HiPi Web GUI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <h1>Settings</h1>
      <form id="config-form">
        <div class="form-group">
          <label for="max-level">Water Level Maximum:</label>
          <div class="input-wrapper">
            <input type="number" name="max-level" id="max-level" value="{{ config['water_level']['max'] }}" min="0" max="100" required>
          </div>
        </div>
        <div class="form-group">
          <label for="min-level">Water Level Minimum:</label>
          <div class="input-wrapper">
            <input type="number" name="min-level" id="min-level" value="{{ config['water_level']['min'] }}" min="0" max="100" required>
          </div>
        </div>
        <button class="btn-large" type="submit">Update Config</button>
      </form>
      <div class="current-levels">
        <h2>Current Levels:</h2>
        <div class="data">
          <h2 class="data-value" id="max-level-current">Loading...</h2>
          <h3 class="data-label">Max Water Level</h3>
        </div>
        <div class="data">
          <h2 class="data-value" id="min-level-current">Loading...</h2>
          <h3 class="data-label">Min Water Level</h3>
        </div>
      </div>
      <a href="/"><button>Back</button></a>
    </div>

    <script>
      document.getElementById('config-form').addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        fetch('/update-config', {
          method: 'POST',
          body: formData
        })
          .then(response => response.text())
          .then(data => {
            alert(data);
          });
      });

      function updateData() {
        fetch('/data')
          .then(response => response.json())
          .then(data => {
            document.getElementById('max-level-current').textContent = data.max_level;
            document.getElementById('min-level-current').textContent = data.min_level;
          });
      }
      setInterval(updateData, 1000);  // update data every 1 second
    </script>
  </body>
  {% include 'footer.html' %}
</html>
