<!DOCTYPE html>
<html>
  <head>
    <title>SEKRET AGENT v0.1 | A HiPi Web GUI</title>
    <!-- Include the CSS file for styling -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Live Dashboard</h1>
    <div class="container">
      <h1>Watering System</h1>
      <div class="data">
        <h2>Water Tank Status</h2>
        <h2 class="data-value" id="water-level">Loading...</h2>
      </div>
      <div class="data">
        <h2>Ultrasonic Distance Data</h2>
        <!-- Placeholder  -->
        <h2 class="data-value" id="distance">Loading...</h2>
      </div>
      <div class="data">
        <h2>Pump Status</h2>
        <!-- Placeholder  -->
        <h2 class="data-value" id="">Loading...</h2>
      </div>
      <div class="data">
        <h2>Soil Sensor Data</h2>
        <!-- Placeholder f -->
        <h2 class="data-value" id="">Loading...</h2>
      </div>
    </div>

    <div class="container">
      <!-- Section for displaying Cooling sensor data -->
      <h1>Cooling Data</h1>
      <div class="data">
        <h2>Int. Temp</h2>
        <!-- Placeholder for displaying Temp -->
        <h2 class="data-value" id="temp_int">Loading...</h2>
      </div>
      <div class="data">
        <h2>Int. Humidity</h2>
        <!-- Placeholder for displaying humidity -->
        <h2 class="data-value" id="hum_int">Loading...</h2>
      </div>
      <div class="data">
        <h2>FAN Speed</h2>
        <!-- Placeholder for PWM Fan Speed -->
        <h2 class="data-value" id="">Loading...</h2>
      </div>
    </div>
    <div class="container">
      <!-- Section for displaying Cooling sensor data -->
      <h1>Lights</h1>
      <div class="data">
        <h2>LED Status</h2>
        <!-- Placeholder for displaying Temp -->
        <h2 class="data-value" id="">Loading...</h2>
      </div>
      <div class="data">
        <h2>LED Timer</h2>
        <!-- Placeholder for displaying humidity -->
        <h2 class="data-value" id="">Loading...</h2>
      </div>
    </div>
    <div class="container">
      <!-- Section for displaying Cooling sensor data -->
      <h1>CAM</h1>
      <div class="data">
      <BR>
        <BR>
        <!-- Placeholder for Camera Stream -->
      </div>
    </div>


<!-- JAVASCRIPT STARTS -->
<script>
  // Define a function to update the data shown on the page
  function updateData() {
    // Use the fetch API to send a request to the /data endpoint
    fetch('/data')
      // If the response is successful, convert the response body to JSON format
      .then(response => response.json())
      // Once the data is converted to JSON, update the appropriate elements on the page with the new values
      .then(data => {
        // Update the water level element with the new value
        document.getElementById('water-level').textContent = data.water_level;

        // Update the distance element with the new value
        document.getElementById('distance').textContent = `${data.distance} cm`;

        // Update the water level element with the new value
        document.getElementById('temp_int').textContent = data.temp_int;
        
        // Update the water level element with the new value
        document.getElementById('hum_int').textContent = data.hum_int;
      });
  }

  // Call the updateData function every 1 second
  setInterval(updateData, 3000);

  // Add a submit event listener to the form with id 'config-form'
  document.getElementById('config-form').addEventListener('submit', (event) => {
    // Prevent the default form submission behavior
    event.preventDefault();

    // Create a new FormData object with the data from the form
    const formData = new FormData(event.target);
    // Send a POST request to the /update-config endpoint with the form data
    fetch('/update-config', {
      method: 'POST',
      body: formData
    })
      // Once the request is complete, display a message to the user
      .then(response => response.text())
      .then(data => {
        alert(data);
      });
  });
</script>
<!-- JAVASCRIPT STARTS -->

{% include 'footer.html' %}
  </body>
</html>