{% include 'header.html' %}
<!-- navbar.html -->
<nav class="navbar">
    <div class="navbar-container">
      <ul class="navbar-links">
        <li class="navbar-link"><a href="/">About</a></li>
        <li class="navbar-link"><a href="/">Dashboard</a></li>
        <li class="navbar-link"><a href="/water_config">Water</a></li>
        <li class="navbar-link"><a href="/">Cooling</a></li>
        <li class="navbar-link"><a href="/">Lights</a></li>
        <li class="navbar-link"><a href="/">Cam</a></li>
      </ul>
    </div>
  </nav>
  